.chat-panel{
    min-width: 400px;
    max-width: 827px;
    margin: 50px auto 50px;
    padding: 1em 2em;
    border: 1px solid #DDDDDD;
    border-radius : 5px;
    background-color: #ffffff;
}

.back-img{
    width:                  100%;
    height:                 1200px;
    background-image:       url(https://debugroom-sample.s3-ap-northeast-1.amazonaws.com/profile.jpg);
    background-repeat:      no-repeat;
    background-position:    center bottom;
    -moz-background-size:   cover;
    background-size:        cover;
    filter:                 alpha(opacity=90);
    -moz-opacity:           0.9;
    opacity:                0.9;
}

.tab-panel ul li{
    display:block;
    float:left;
    background: #2b606e;/*IE9‚Ì”wŒi—p*/
    background: -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:         linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    border-left: 1px solid #1f5260;
    box-shadow:  1px 0px 0px rgba(225,225,225,0.4) inset,
    -1px 0px 0px rgba(225,225,225,0.2) inset,
    0px 1px 1px rgba(0,0,0,0.1) inset,
    0px -1px 1px rgba(0,0,0,0.3) inset,
    0px 1px 3px #666;
    border-right:1px solid #ffffff;
    -webkit-box-sizing : border-box ;
    -moz-box-sizing : border-box ;
    box-sizing : border-box ;
    text-align:center;
    font-size:9px;
    padding: 5px;
    color:#313131;
}

.tab-panel ul li:hover{
    background:#999999;
    color:#ffffff;
    cursor:pointer;
}

.tab-panel:after{
    display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}

.content-panel {
    width: auto;
    margin: 100px 50px 100px;
    overflow: hidden;
    font-size: 9px;
    position: relative;
}

.content {
    display: none;
}

.icon img{
    box-sizing: border-box;
    width: 64px;
}

.message {
    overflow: hidden;
    margin: 0 0 1em 0;
    padding: 0;
}

.message span{
    display: block;
    margin: 0;
    padding: 0;
}

.message .icon{
    float: left;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 1px solid white;
    border-radius: 0%;
    margin:5px;
}

.message.self .icon{
    float: right;
}

.message .name{
    display: block;
}

.message .body{
    position: relative;
    box-sizing: border-box;
    width : auto;
    min-height: 64px;
    margin: 0 160px 0 80px;
    padding: 1em;
    border-radius: 10px;
    background: #dddddd;
}

.message.self .body{
    margin: 0 80px 0 160px;
    background: #444444;
    color: white;
}

.message .body:before{
    position: absolute;
    top: 20px;
    left: -20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-right-color: #dddddd;
}

.message.self .body:before{
    left: auto;
    right: -20px;
    border-color: transparent;
    border-left-color: #444444;
}

.form {
    text-align: center;
    margin : 20px auto 20px;
}

.comment {
    border:0;
    padding:10px;
    font-size:1.3em;
    font-family:Arial, sans-serif;
    color:#aaa;
    border:solid 1px #ccc;
    margin:20px;
    width:300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

input:focus {
    border:solid 1px #EEA34A;
}

.add-group-icon{
    width : 25px;
    margin: 0 5px 0;
}

.add-group-icon:hover{
    cursor:pointer;
}

#input-group-name {
    font-size : 0.9em;
    margin : 10px 0px 10px 5px;
    width  : 280px;
    height : 20px;
    text-align : left;
}